<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <param name="turtlebot_description" command="$(find xacro)/xacro.py --inorder '$(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro'" />
    
    <arg name="x" default="3"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param turtlebot_description -model turtlebot -x $(arg x) -y $(arg y) -z $(arg z)" />
          
</launch>

