<?xml version="1.0" encoding="UTF-8" ?>

<launch>
<!-- Convert xacro and put on parameter server -->
<param name="ur_description" command="$(find xacro)/xacro.py $(find my_universal_robot)/universal_robot/ur_description/urdf/ur5.urdf.xacro" />

<!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param ur_description -urdf -model ur5" />
</launch>
